.sidebar{
    background-color: #080239;
    height: 100%;
    left: 0;
    width: 15%;
    position: fixed;
}

.nav-link {
    color: beige;
}

.logo {
    height: 40px; 
    width: 45px;
    border-radius: 25px;
}