.field{
    margin-bottom:10px;
  }
  
  .register-form {
    border: 2px solid black;
    padding: 40px;
    background-color: lightyellow;
    max-width: 400px; /* optional, limits the maximum width of the form */
    margin: 0 auto;
    margin-top: 100px;
  }